.contact-box {
  margin-right: 70px;
}

.contact-box__list {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 00.03em;
  color: var(--main-text-color);
}
.contact-box__adress {
  margin-bottom: 9px;
  color: var(--white-color);
}
.contact-box__mail {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.contact-box__tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
