:root {
  --main-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --back-color: #2f303a;
  --background-color: #f5f4fa;
  --box-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --main-font: "Roboto", sans-serif;
  --icon-color: #afb1b8;
  --accent-font: "Raleway", sans-serif;
}
